@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix disappearing text 👻 */
.text-gradient {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

/* shadow on footer background image */
footer {
    -webkit-filter: drop-shadow( -5px -5px 5px #e3e3e3 );
    filter: drop-shadow( -5px -5px 5px #e3e3e3 );
}
